/*background-color*/
.bg-color{
	background-color: #a1a1a1;
}
/*background-image*/
.bg-image{
	background-image: url('../images/logo.png');
	height: 80px;
}

/*background-repeat*/
.bg-repeat{
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	height: 80px;
}
/*background-position*/
.bg-position{
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position:50% 50%;
	height: 80px;
}
/*background*/
.bg{
	background:url('../images/logo.png') no-repeat right;
	height: 80px;
}